<h1>You have named your Tamagotchi $name ! <h1>
<h3>are you ready to start the game?<h3>

<form action="/game" method="get">
  <button type=".btn">Yes!</button>
</form>

<a href="/"><button>No!</button></a>
