<h1>Tamagotchi!</h1>

<form action="/confirm" method ="post">
  <div class="form-group">
    <label for="tname">What would you like to call your Tamagotchi</label>
    <input type="text" id="tname" name="tname"/>
  </div>
  <button type="submit">Play Tamagotchi</button>
</form>
